<!--The content below is only a placeholder and can be replaced.-->
<div class="clearfix">
  <h1 style="text-align: center">Music Search</h1>
  <div class="clearfix" style="margin-bottom: 20px; margin-top: 30px; margin-left: 20px">
   <input type="text" name="track" [(ngModel)]="trackName" placeholder="song">
    <button [disabled]="trackName==null" type="button" (click)="search()">Search</button>
  </div>
<table *ngIf="showTable" class="table table-hover">
  <thead>
  <th></th>
  <th><a href="#"  (click)="descendingSort(1)"><i class="fa fa-sort-down"></i></a><a href="#" (click)="ascendingSort(1)" style="margin-right: 10px"><i class="fa fa-sort-up" ></i></a>Song Name</th>
  <th><a href="#" (click)="descendingSort(2)"><i class="fa fa-sort-down"></i></a><a href="#" (click)="ascendingSort(2)"><i class="fa fa-sort-up" style="margin-right: 10px"></i></a>Artist Name</th>
  <th><a href="#"(click)="descendingSort(3)"><i class="fa fa-sort-down"></i></a><a href="#"(click)="ascendingSort(3)"><i class="fa fa-sort-up" style="margin-right: 10px"></i></a>Listeners</th>
  </thead>
  <tbody>
  <tr *ngFor="let c of list">
    <td><img [src]='c.images[1]'></td>
    <td>{{c.name}}</td>
    <td>{{c.artistName}}</td>
    <td>{{c.listeners}}</td>
  </tr>
  </tbody>


</table>
</div>

